# Python
venv/*
build/*

# Generated data
_videos/
_includes/_readme/
_data/rdv.yml
_games/
assets/games

# Local Site Directories
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby Gems
.bundle
Gemfile.lock

# Log Files
*.log