<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-1 col-0"></div>
  <div class="col-lg-4 col-md-6 col-12 text-center mt-4">
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.logo }}" alt="{{ site.title }}" class="logo wow animated zoomIn" data-wow-delay=".1s" />
      </div>
      <p class="wow animated slideInUp" data-wow-delay=".15s">{{ site.description }}</p>
    </div>
  </div>

  <div class="col-lg-1 col-0"></div>

  <div class="col wow animated fadeInUp" data-wow-delay=".15s">
    {% include markdown.html path="_readme/welcome.md" %}
  </div>
  <div class="col-lg-1 col-0"></div>
</div>

<div class="row justify-content-center align-items-center p-4">
  <div class="d-grid my-2 col-lg-4 col-md-6 col-12">
    <a href="/download" class="btn btn-rdv btn-lg" role="button">Download Randovania</a>
  </div>
  <div class="d-grid my-2 col-lg-4 col-md-6 col-12">
    <a href="/games" class="btn btn-rdv btn-lg" role="button">Supported Games</a>
  </div>
</div>
