html {
  padding-left: calc(100vw - 100%);
}

body {
  font-family: "Poppins", sans-serif;
}

.badge {
  font-weight: 500;
}

.bg-light,
.badge-light {
  &,
  * {
    color: $text-black !important;
  }
}

.bg-dark,
.badge-dark {
  &,
  * {
    color: $text-white !important;
  }
}

.btn-rdv {
  --bs-btn-bg: #{var(--rdv-themed-secondary)};
  --bs-btn-color: #{var(--rdv-themed-primary)};
  --bs-btn-border-color: #{var(--rdv-themed-secondary)};
  --bs-btn-hover-color: #{var(--rdv-themed-primary)};
  --bs-btn-hover-bg: #{var(--rdv-themed-secondary-hover)};
  --bs-btn-hover-border-color: #{var(--rdv-themed-secondary-hover)};
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #{var(--rdv-themed-primary)};
  --bs-btn-active-bg: #{var(--rdv-themed-secondary-hover)};
  --bs-btn-active-border-color: #{var(--rdv-themed-secondary-hover)};
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #{var(--rdv-themed-primary)};
  --bs-btn-disabled-bg: #{var(--rdv-themed-secondary)};
  --bs-btn-disabled-border-color: #{var(--rdv-themed-secondary)};
}

.fa-bottom {
  vertical-align: text-bottom;
}

.faq-card p {
  margin-bottom: 0;
}