---
layout: page
---
{%- for game in site.games -%}
  {%- if game.slug == page.slug -%}
    {%- assign game-name = game.long-name -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}
<h1>{{ game-name }} Trick Video Database</h1>
{% if page.regions == blank %}
  <p>This game has no videos. Perhaps you could
    <a href="https://github.com/randovania/randovania/blob/main/docs/Database%20Editor.md">contribute some</a>?</p>
{% else %}
  <p>This page contains every video linked in {{ game-name }}'s logic database.</p>
  <p>Not seeing a video for a particular trick? Feel free to
    <a href="https://github.com/randovania/randovania/blob/main/docs/Database%20Editor.md">contribute one</a>!</p>
  <nav>
    <div
      class="nav nav-tabs my-2"
      id="nav-region-tab"
      role="tablist">
      {% for region in page.regions %}
        {% if forloop.first %}
          {% assign tab-class = "nav-link active" %}
          {% assign aria-selected = "true" %}
        {% else %}
          {% assign tab-class = "nav-link" %}
          {% assign aria-selected = "false" %}
        {% endif %}

        {%- capture tab-id -%}
          nav-{{ region.key | slugify }}
        {%- endcapture -%}

        <button
          class="{{ tab-class }}"
          id="{{ tab-id }}-tab"
          data-bs-toggle="tab"
          data-bs-target="#{{ tab-id }}"
          type="button"
          role="tab"
          aria-controls="{{ tab-id }}"
          aria-selected="{{ aria-selected }}">{{ region.key }}</button>
      {% endfor %}
    </div>
  </nav>
  <div class="tab-content" id="nav-region-tabContent">
    {% for region in page.regions %}
      {% if forloop.first %}
        {% assign tab-class = "tab-pane fade show active" %}
      {% else %}
        {% assign tab-class = "tab-pane fade" %}
      {% endif %}

      {%- capture tab-id -%}
        nav-{{ region.key | slugify }}
      {%- endcapture -%}
      <div
        class="{{ tab-class }}"
        id="{{ tab-id }}"
        role="tabpanel"
        aria-labelledby="{{ tab-id }}-tab"
        tabindex="0">
        {% include videos/region.html region=region %}
      </div>
    {% endfor %}
  </div>
{% endif %}