.Normal_text {font-family:'Trebuchet MS';font-weight:normal;font-style:normal;font-size:12px;text-decoration:none;text-transform: none;color:#1B1B1B;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_2 {font-family:'Trebuchet MS';font-weight:normal;font-style:normal;font-size:20px;text-decoration:none;text-transform: none;color:#1C6C93;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_1 {font-family:'Advent Pro Thin';font-weight:250;font-style:normal;font-size:40px;text-decoration:none;text-transform: none;color:#000000;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Normal_-40Web-41 {font-family:Times New Roman;font-size:16px;}
.List_Paragraph {}
.Hyperlink {font-family:'Trebuchet MS';font-weight:normal;font-style:normal;text-decoration:underline;text-transform: none;color:#0563C1;-webkit-text-stroke: 0px black;letter-spacing:-317.412em;}
.Heading_3 {color:#FFFFFF;}
