/* Site settings */
body {background-color:#ffffff;margin:0px;font-family:Arial,sans-serif;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;text-rendering:optimizeLegibility;font-feature-settings:'kern', 'liga' 0, 'clig' 0, 'calt' 0;color:#000000;letter-spacing:0em;-webkit-print-color-adjust:exact;}
a {text-decoration:underline;}
a:link {color:#1C6C93; cursor:pointer;}
a:visited {color:#1C6C93;}
a:hover {color:#000000;}
a * {color:#1C6C93;text-decoration:underline;}
sup {font-size:0.5em; vertical-align: 0.66em;}
sub {font-size:0.5em; vertical-align: -0.1em;}
.xr_tl {position: absolute; white-space: pre; unicode-bidi:bidi-override;}
.xr_tr {position: absolute; white-space: pre; unicode-bidi:bidi-override; text-align:right;}
.xr_tc {position: absolute; white-space: pre; unicode-bidi:bidi-override; text-align:center;}
.xr_tj {position: absolute; unicode-bidi:bidi-override; text-align:justify;}
.xr_tb {position: absolute; unicode-bidi:bidi-override;}
.xr_e1 {display: inline-block; border:none; white-space:normal;}
.xr_e2 {position: absolute; display: block; border:none;}
.xr_ap {position: absolute; border:none; pointer-events:visible;}
.xr_apq {position: absolute; border:none; pointer-events:none;}
.xr_noreset {pointer-events:visible;}
.xr_ar {position: absolute; display:block; pointer-events:visible;}
.xr_strb {z-index: 1;}
.xr_strb .mxs-arrow, .xr_strb .mxs-navigation {visibility: hidden;}
.xr_strf {z-index: 3;}
.xr_xrc, .xr_xri_, .xr_sxri, .xr_xpos {z-index: 2;}
.xr_ro, .xr_rd, .xr_rs {z-index: 3;}
.xr_tu {unicode-bidi:bidi-override;margin-top:0px;margin-bottom:0px;}

.xr_tt0 {transition: all 0s;}
.xr_tt1 {transition: all 0.1s; transition-timing-function: ease-in;}
.xr_tt2 {transition: all 0.25s; transition-timing-function: ease-in;}
.xr_tt3 {transition: all 0.5s; transition-timing-function: ease-in;}
.xr_tt4 {transition: all 1s; transition-timing-function: ease-in;}
.xr_tt5 {transition: all 2s; transition-timing-function: ease-in;}
a:hover .xr_ro, a:active .xr_rd, .xr_nb0:hover .xr_ro{visibility:visible;opacity: 1;transform: none;}

a:active .xr_ro {opacity:0;}
.xr_ro, .xr_rd {visibility:hidden;opacity:0;}
.xr_ro0, .xr_rd0, a:active .xr_ro0 {opacity:0;}
.xr_ro1, .xr_rd1, a:active .xr_ro1 {transform:translate3d(0,-20%,0);}
.xr_ro2, .xr_rd2, a:active .xr_ro2 {transform:translate3d(20%,0,0);}
.xr_ro3, .xr_rd3, a:active .xr_ro3 {transform-origin:top; transform:scale3d(1,0.3,1);}
.xr_ro4, .xr_rd4, a:active .xr_ro4 {transform-origin:left; transform:scale3d(0.3,1,1);}
.xr_ro5, .xr_rd5, a:active .xr_ro5 {transform:rotate3d(1,0,0,180deg); -ms-transform: rotateX(180deg);}
.xr_ro6, .xr_rd6, a:active .xr_ro6 {transform:rotate3d(0,1,0,180deg); -ms-transform: rotateY(180deg);}
.xr_ro7, .xr_rd7, a:active .xr_ro7 {transform:rotate3d(0,0,1,180deg);}
.xr_ro8, .xr_rd8, a:active .xr_ro8 {transform:scale3d(0.3,0.3,1);}
.xr_ro9, .xr_rd9, a:active .xr_ro9 {transform:skew(-30deg,0) translate3d(10%,0,0);}
.xr_ro10, .xr_rd10, a:active .xr_ro10 {transform-origin:50% 500%; transform:rotate3d(0,0,1,10deg);}
.xr_ro11, .xr_rd11, a:active .xr_ro11 {transform:translate3d(0,-50%,0) scale3d(0.3,0.3,1);}
.xr_ro12, .xr_rd12, a:active .xr_ro12 {transform:translate3d(0,20%,0);}
.xr_ro13, .xr_rd13, a:active .xr_ro13 {transform:translate3d(-20%,0,0);}
.xr_stickie {z-index: 90;}
.xr_nb0 {touch-action: none;}
.xr_nb0:hover > .xr_nb2, .xr_nb1:hover > .xr_nb2 {visibility: visible; opacity: 1 !important; transform: none !important;}
.xr_nb2 {white-space: nowrap; padding:0px; margin:0px; visibility: hidden; position: absolute; z-index:101;}
.xr_nb2 li {display:block;}
.xr_nb2 li a {display:block; text-decoration:none;}
.xr_nb4 {display:block; padding:0px; margin:0px;}
.xr_nb6 {width:100%; height:2px;}
.xr_nb1 {position: relative;}
.xr_nb1:after {content: ''; position: absolute; top: 50%; right: .5em; height: 0px; width: 0px; border: 5px solid transparent; margin-top: -5px; margin-right: -3px; border-color: transparent; border-left-color: inherit;}
body {text-align:center;}
@media screen, handheld {
.xr_app {position: absolute;}
.xr_apb {display:block; position:absolute;}
.xr_c_Theme_Color_2 {color:#1C6C93;}
.xr_c_Theme_Color_1 {color:#000000;}
.xr_c_Website_Backdrop {color:#252525;}
.xr_c_Page_Background {color:#FFFFFF;}
.xr_c_Light_Text {color:#FFFFFF;}
.xr_c_Dark_Text {color:#1B1B1B;}
.xr_c_Text {color:#5C5C5C;}
.xr_c_New_colour {color:#4472C4;}
.xr_c_Contrasting_Text {color:#FFFFFF;}
.xr_c_T1_Lighter {color:#000000;}
.xr_c_T1_Darker {color:#000000;}
.xr_c_T1_Light {color:#787878;}
.xr_c_Theme_Color_3 {color:#86B7DF;}
.xr_c_T1_Dark {color:#000000;}
.xr_bgb0, .xr_bgc0 {background-color: #252525;}
#xr_nb1 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb1 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb1 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb1 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb1 .xr_nb6 {background-color:#000000;}
#xr_nb1 li {border-color:#000000;}
#xr_nb1 li:hover {border-color:#FFFFFF;}
#xr_nb1 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb1 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb1, .xr_bgc1 {background-color: #252525;}
#xr_nb5 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:20px;}
#xr_nb5 li:hover > a {background-color:#252525; color:#000000;}
#xr_nb5 li a {color:#5C5C5C; background-color:#252525; padding:15px; padding-right:33px;}
#xr_nb5 li > div {background-color:#252525; padding:15px;}
#xr_nb5 .xr_nb6 {background-color:#5C5C5C;}
#xr_nb5 li {border-color:#5C5C5C;}
#xr_nb5 li:hover {border-color:#000000;}
#xr_nb5 ul {border: solid 10px #252525; background-color:#252525;}
#xr_nb5 .xr_nb1 ul {margin-top:-10px;}
#xr_nb5 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb2, .xr_bgc2 {background-color: #252525;}
#xr_nb7 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb7 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb7 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb7 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb7 .xr_nb6 {background-color:#000000;}
#xr_nb7 li {border-color:#000000;}
#xr_nb7 li:hover {border-color:#FFFFFF;}
#xr_nb7 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb7 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb3, .xr_bgc3 {background-color: #252525;}
#xr_nb11 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb11 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb11 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb11 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb11 .xr_nb6 {background-color:#000000;}
#xr_nb11 li {border-color:#000000;}
#xr_nb11 li:hover {border-color:#FFFFFF;}
#xr_nb11 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb11 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb4, .xr_bgc4 {background-color: #252525;}
#xr_nb15 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:20px;}
#xr_nb15 li:hover > a {background-color:#252525; color:#000000;}
#xr_nb15 li a {color:#5C5C5C; background-color:#252525; padding:15px; padding-right:33px;}
#xr_nb15 li > div {background-color:#252525; padding:15px;}
#xr_nb15 .xr_nb6 {background-color:#5C5C5C;}
#xr_nb15 li {border-color:#5C5C5C;}
#xr_nb15 li:hover {border-color:#000000;}
#xr_nb15 ul {border: solid 10px #252525; background-color:#252525;}
#xr_nb15 .xr_nb1 ul {margin-top:-10px;}
#xr_nb15 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb5, .xr_bgc5 {background-color: #252525;}
#xr_nb17 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb17 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb17 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb17 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb17 .xr_nb6 {background-color:#000000;}
#xr_nb17 li {border-color:#000000;}
#xr_nb17 li:hover {border-color:#FFFFFF;}
#xr_nb17 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb17 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb6, .xr_bgc6 {background-color: #252525;}
#xr_nb21 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb21 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb21 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb21 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb21 .xr_nb6 {background-color:#000000;}
#xr_nb21 li {border-color:#000000;}
#xr_nb21 li:hover {border-color:#FFFFFF;}
#xr_nb21 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb21 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb7, .xr_bgc7 {background-color: #252525;}
#xr_nb25 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:20px;}
#xr_nb25 li:hover > a {background-color:#252525; color:#000000;}
#xr_nb25 li a {color:#5C5C5C; background-color:#252525; padding:15px; padding-right:33px;}
#xr_nb25 li > div {background-color:#252525; padding:15px;}
#xr_nb25 .xr_nb6 {background-color:#5C5C5C;}
#xr_nb25 li {border-color:#5C5C5C;}
#xr_nb25 li:hover {border-color:#000000;}
#xr_nb25 ul {border: solid 10px #252525; background-color:#252525;}
#xr_nb25 .xr_nb1 ul {margin-top:-10px;}
#xr_nb25 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb8, .xr_bgc8 {background-color: #252525;}
#xr_nb27 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb27 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb27 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb27 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb27 .xr_nb6 {background-color:#000000;}
#xr_nb27 li {border-color:#000000;}
#xr_nb27 li:hover {border-color:#FFFFFF;}
#xr_nb27 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb27 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb9, .xr_bgc9 {background-color: #252525;}
#xr_nb31 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb31 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb31 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb31 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb31 .xr_nb6 {background-color:#000000;}
#xr_nb31 li {border-color:#000000;}
#xr_nb31 li:hover {border-color:#FFFFFF;}
#xr_nb31 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb31 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb10, .xr_bgc10 {background-color: #252525;}
#xr_nb35 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:20px;}
#xr_nb35 li:hover > a {background-color:#252525; color:#000000;}
#xr_nb35 li a {color:#5C5C5C; background-color:#252525; padding:15px; padding-right:33px;}
#xr_nb35 li > div {background-color:#252525; padding:15px;}
#xr_nb35 .xr_nb6 {background-color:#5C5C5C;}
#xr_nb35 li {border-color:#5C5C5C;}
#xr_nb35 li:hover {border-color:#000000;}
#xr_nb35 ul {border: solid 10px #252525; background-color:#252525;}
#xr_nb35 .xr_nb1 ul {margin-top:-10px;}
#xr_nb35 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb11, .xr_bgc11 {background-color: #252525;}
#xr_nb37 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb37 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb37 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb37 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb37 .xr_nb6 {background-color:#000000;}
#xr_nb37 li {border-color:#000000;}
#xr_nb37 li:hover {border-color:#FFFFFF;}
#xr_nb37 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb37 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb12, .xr_bgc12 {background-color: #252525;}
#xr_nb41 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb41 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb41 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb41 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb41 .xr_nb6 {background-color:#000000;}
#xr_nb41 li {border-color:#000000;}
#xr_nb41 li:hover {border-color:#FFFFFF;}
#xr_nb41 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb41 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb13, .xr_bgc13 {background-color: #252525;}
#xr_nb45 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:20px;}
#xr_nb45 li:hover > a {background-color:#252525; color:#000000;}
#xr_nb45 li a {color:#5C5C5C; background-color:#252525; padding:15px; padding-right:33px;}
#xr_nb45 li > div {background-color:#252525; padding:15px;}
#xr_nb45 .xr_nb6 {background-color:#5C5C5C;}
#xr_nb45 li {border-color:#5C5C5C;}
#xr_nb45 li:hover {border-color:#000000;}
#xr_nb45 ul {border: solid 10px #252525; background-color:#252525;}
#xr_nb45 .xr_nb1 ul {margin-top:-10px;}
#xr_nb45 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb14, .xr_bgc14 {background-color: #252525;}
#xr_nb47 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb47 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb47 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb47 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb47 .xr_nb6 {background-color:#000000;}
#xr_nb47 li {border-color:#000000;}
#xr_nb47 li:hover {border-color:#FFFFFF;}
#xr_nb47 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb47 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb15, .xr_bgc15 {background-color: #252525;}
#xr_nb51 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb51 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb51 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb51 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb51 .xr_nb6 {background-color:#000000;}
#xr_nb51 li {border-color:#000000;}
#xr_nb51 li:hover {border-color:#FFFFFF;}
#xr_nb51 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb51 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb16, .xr_bgc16 {background-color: #252525;}
#xr_nb55 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:20px;}
#xr_nb55 li:hover > a {background-color:#252525; color:#000000;}
#xr_nb55 li a {color:#5C5C5C; background-color:#252525; padding:15px; padding-right:33px;}
#xr_nb55 li > div {background-color:#252525; padding:15px;}
#xr_nb55 .xr_nb6 {background-color:#5C5C5C;}
#xr_nb55 li {border-color:#5C5C5C;}
#xr_nb55 li:hover {border-color:#000000;}
#xr_nb55 ul {border: solid 10px #252525; background-color:#252525;}
#xr_nb55 .xr_nb1 ul {margin-top:-10px;}
#xr_nb55 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb17, .xr_bgc17 {background-color: #252525;}
#xr_nb57 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb57 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb57 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb57 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb57 .xr_nb6 {background-color:#000000;}
#xr_nb57 li {border-color:#000000;}
#xr_nb57 li:hover {border-color:#FFFFFF;}
#xr_nb57 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb57 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb18, .xr_bgc18 {background-color: #252525;}
#xr_nb61 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb61 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb61 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb61 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb61 .xr_nb6 {background-color:#000000;}
#xr_nb61 li {border-color:#000000;}
#xr_nb61 li:hover {border-color:#FFFFFF;}
#xr_nb61 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb61 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb19, .xr_bgc19 {background-color: #252525;}
#xr_nb65 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:20px;}
#xr_nb65 li:hover > a {background-color:#252525; color:#000000;}
#xr_nb65 li a {color:#5C5C5C; background-color:#252525; padding:15px; padding-right:33px;}
#xr_nb65 li > div {background-color:#252525; padding:15px;}
#xr_nb65 .xr_nb6 {background-color:#5C5C5C;}
#xr_nb65 li {border-color:#5C5C5C;}
#xr_nb65 li:hover {border-color:#000000;}
#xr_nb65 ul {border: solid 10px #252525; background-color:#252525;}
#xr_nb65 .xr_nb1 ul {margin-top:-10px;}
#xr_nb65 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb20, .xr_bgc20 {background-color: #252525;}
#xr_nb67 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb67 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb67 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb67 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb67 .xr_nb6 {background-color:#000000;}
#xr_nb67 li {border-color:#000000;}
#xr_nb67 li:hover {border-color:#FFFFFF;}
#xr_nb67 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb67 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb21, .xr_bgc21 {background-color: #252525;}
#xr_nb71 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb71 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb71 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb71 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb71 .xr_nb6 {background-color:#000000;}
#xr_nb71 li {border-color:#000000;}
#xr_nb71 li:hover {border-color:#FFFFFF;}
#xr_nb71 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb71 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb22, .xr_bgc22 {background-color: #252525;}
#xr_nb75 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:20px;}
#xr_nb75 li:hover > a {background-color:#252525; color:#000000;}
#xr_nb75 li a {color:#5C5C5C; background-color:#252525; padding:15px; padding-right:33px;}
#xr_nb75 li > div {background-color:#252525; padding:15px;}
#xr_nb75 .xr_nb6 {background-color:#5C5C5C;}
#xr_nb75 li {border-color:#5C5C5C;}
#xr_nb75 li:hover {border-color:#000000;}
#xr_nb75 ul {border: solid 10px #252525; background-color:#252525;}
#xr_nb75 .xr_nb1 ul {margin-top:-10px;}
#xr_nb75 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb23, .xr_bgc23 {background-color: #252525;}
#xr_nb77 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb77 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb77 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb77 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb77 .xr_nb6 {background-color:#000000;}
#xr_nb77 li {border-color:#000000;}
#xr_nb77 li:hover {border-color:#FFFFFF;}
#xr_nb77 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb77 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb24, .xr_bgc24 {background-color: #252525;}
#xr_nb81 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb81 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb81 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb81 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb81 .xr_nb6 {background-color:#000000;}
#xr_nb81 li {border-color:#000000;}
#xr_nb81 li:hover {border-color:#FFFFFF;}
#xr_nb81 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb81 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb25, .xr_bgc25 {background-color: #252525;}
#xr_nb85 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:20px;}
#xr_nb85 li:hover > a {background-color:#252525; color:#000000;}
#xr_nb85 li a {color:#5C5C5C; background-color:#252525; padding:15px; padding-right:33px;}
#xr_nb85 li > div {background-color:#252525; padding:15px;}
#xr_nb85 .xr_nb6 {background-color:#5C5C5C;}
#xr_nb85 li {border-color:#5C5C5C;}
#xr_nb85 li:hover {border-color:#000000;}
#xr_nb85 ul {border: solid 10px #252525; background-color:#252525;}
#xr_nb85 .xr_nb1 ul {margin-top:-10px;}
#xr_nb85 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb26, .xr_bgc26 {background-color: #252525;}
#xr_nb87 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb87 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb87 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb87 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb87 .xr_nb6 {background-color:#000000;}
#xr_nb87 li {border-color:#000000;}
#xr_nb87 li:hover {border-color:#FFFFFF;}
#xr_nb87 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb87 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb27, .xr_bgc27 {background-color: #252525;}
#xr_nb91 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb91 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb91 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb91 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb91 .xr_nb6 {background-color:#000000;}
#xr_nb91 li {border-color:#000000;}
#xr_nb91 li:hover {border-color:#FFFFFF;}
#xr_nb91 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb91 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb28, .xr_bgc28 {background-color: #252525;}
#xr_nb95 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:20px;}
#xr_nb95 li:hover > a {background-color:#252525; color:#000000;}
#xr_nb95 li a {color:#5C5C5C; background-color:#252525; padding:15px; padding-right:33px;}
#xr_nb95 li > div {background-color:#252525; padding:15px;}
#xr_nb95 .xr_nb6 {background-color:#5C5C5C;}
#xr_nb95 li {border-color:#5C5C5C;}
#xr_nb95 li:hover {border-color:#000000;}
#xr_nb95 ul {border: solid 10px #252525; background-color:#252525;}
#xr_nb95 .xr_nb1 ul {margin-top:-10px;}
#xr_nb95 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb29, .xr_bgc29 {background-color: #252525;}
#xr_nb97 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb97 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb97 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb97 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb97 .xr_nb6 {background-color:#000000;}
#xr_nb97 li {border-color:#000000;}
#xr_nb97 li:hover {border-color:#FFFFFF;}
#xr_nb97 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb97 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb30, .xr_bgc30 {background-color: #252525;}
#xr_nb101 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb101 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb101 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb101 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb101 .xr_nb6 {background-color:#000000;}
#xr_nb101 li {border-color:#000000;}
#xr_nb101 li:hover {border-color:#FFFFFF;}
#xr_nb101 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb101 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb31, .xr_bgc31 {background-color: #252525;}
#xr_nb105 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:20px;}
#xr_nb105 li:hover > a {background-color:#252525; color:#000000;}
#xr_nb105 li a {color:#5C5C5C; background-color:#252525; padding:15px; padding-right:33px;}
#xr_nb105 li > div {background-color:#252525; padding:15px;}
#xr_nb105 .xr_nb6 {background-color:#5C5C5C;}
#xr_nb105 li {border-color:#5C5C5C;}
#xr_nb105 li:hover {border-color:#000000;}
#xr_nb105 ul {border: solid 10px #252525; background-color:#252525;}
#xr_nb105 .xr_nb1 ul {margin-top:-10px;}
#xr_nb105 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb32, .xr_bgc32 {background-color: #252525;}
#xr_nb107 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb107 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb107 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb107 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb107 .xr_nb6 {background-color:#000000;}
#xr_nb107 li {border-color:#000000;}
#xr_nb107 li:hover {border-color:#FFFFFF;}
#xr_nb107 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb107 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb33, .xr_bgc33 {background-color: #252525;}
#xr_nb111 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb111 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb111 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb111 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb111 .xr_nb6 {background-color:#000000;}
#xr_nb111 li {border-color:#000000;}
#xr_nb111 li:hover {border-color:#FFFFFF;}
#xr_nb111 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb111 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb34, .xr_bgc34 {background-color: #252525;}
#xr_nb115 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:20px;}
#xr_nb115 li:hover > a {background-color:#252525; color:#000000;}
#xr_nb115 li a {color:#5C5C5C; background-color:#252525; padding:15px; padding-right:33px;}
#xr_nb115 li > div {background-color:#252525; padding:15px;}
#xr_nb115 .xr_nb6 {background-color:#5C5C5C;}
#xr_nb115 li {border-color:#5C5C5C;}
#xr_nb115 li:hover {border-color:#000000;}
#xr_nb115 ul {border: solid 10px #252525; background-color:#252525;}
#xr_nb115 .xr_nb1 ul {margin-top:-10px;}
#xr_nb115 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb35, .xr_bgc35 {background-color: #252525;}
#xr_nb117 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb117 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb117 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb117 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb117 .xr_nb6 {background-color:#000000;}
#xr_nb117 li {border-color:#000000;}
#xr_nb117 li:hover {border-color:#FFFFFF;}
#xr_nb117 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb117 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb36, .xr_bgc36 {background-color: #252525;}
#xr_nb121 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb121 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb121 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb121 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb121 .xr_nb6 {background-color:#000000;}
#xr_nb121 li {border-color:#000000;}
#xr_nb121 li:hover {border-color:#FFFFFF;}
#xr_nb121 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb121 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb37, .xr_bgc37 {background-color: #252525;}
#xr_nb125 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:20px;}
#xr_nb125 li:hover > a {background-color:#252525; color:#000000;}
#xr_nb125 li a {color:#5C5C5C; background-color:#252525; padding:15px; padding-right:33px;}
#xr_nb125 li > div {background-color:#252525; padding:15px;}
#xr_nb125 .xr_nb6 {background-color:#5C5C5C;}
#xr_nb125 li {border-color:#5C5C5C;}
#xr_nb125 li:hover {border-color:#000000;}
#xr_nb125 ul {border: solid 10px #252525; background-color:#252525;}
#xr_nb125 .xr_nb1 ul {margin-top:-10px;}
#xr_nb125 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb38, .xr_bgc38 {background-color: #252525;}
#xr_nb127 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb127 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb127 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb127 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb127 .xr_nb6 {background-color:#000000;}
#xr_nb127 li {border-color:#000000;}
#xr_nb127 li:hover {border-color:#FFFFFF;}
#xr_nb127 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb127 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb39, .xr_bgc39 {background-color: #252525;}
#xr_nb131 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb131 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb131 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb131 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb131 .xr_nb6 {background-color:#000000;}
#xr_nb131 li {border-color:#000000;}
#xr_nb131 li:hover {border-color:#FFFFFF;}
#xr_nb131 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb131 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb40, .xr_bgc40 {background-color: #252525;}
#xr_nb135 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:20px;}
#xr_nb135 li:hover > a {background-color:#252525; color:#000000;}
#xr_nb135 li a {color:#5C5C5C; background-color:#252525; padding:15px; padding-right:33px;}
#xr_nb135 li > div {background-color:#252525; padding:15px;}
#xr_nb135 .xr_nb6 {background-color:#5C5C5C;}
#xr_nb135 li {border-color:#5C5C5C;}
#xr_nb135 li:hover {border-color:#000000;}
#xr_nb135 ul {border: solid 10px #252525; background-color:#252525;}
#xr_nb135 .xr_nb1 ul {margin-top:-10px;}
#xr_nb135 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb41, .xr_bgc41 {background-color: #252525;}
#xr_nb137 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb137 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb137 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb137 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb137 .xr_nb6 {background-color:#000000;}
#xr_nb137 li {border-color:#000000;}
#xr_nb137 li:hover {border-color:#FFFFFF;}
#xr_nb137 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb137 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb42, .xr_bgc42 {background-color: #252525;}
#xr_nb141 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb141 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb141 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb141 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb141 .xr_nb6 {background-color:#000000;}
#xr_nb141 li {border-color:#000000;}
#xr_nb141 li:hover {border-color:#FFFFFF;}
#xr_nb141 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb141 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb43, .xr_bgc43 {background-color: #252525;}
#xr_nb145 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:20px;}
#xr_nb145 li:hover > a {background-color:#252525; color:#000000;}
#xr_nb145 li a {color:#5C5C5C; background-color:#252525; padding:15px; padding-right:33px;}
#xr_nb145 li > div {background-color:#252525; padding:15px;}
#xr_nb145 .xr_nb6 {background-color:#5C5C5C;}
#xr_nb145 li {border-color:#5C5C5C;}
#xr_nb145 li:hover {border-color:#000000;}
#xr_nb145 ul {border: solid 10px #252525; background-color:#252525;}
#xr_nb145 .xr_nb1 ul {margin-top:-10px;}
#xr_nb145 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb44, .xr_bgc44 {background-color: #252525;}
#xr_nb147 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb147 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb147 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb147 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb147 .xr_nb6 {background-color:#000000;}
#xr_nb147 li {border-color:#000000;}
#xr_nb147 li:hover {border-color:#FFFFFF;}
#xr_nb147 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb147 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb45, .xr_bgc45 {background-color: #252525;}
#xr_nb151 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb151 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb151 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb151 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb151 .xr_nb6 {background-color:#000000;}
#xr_nb151 li {border-color:#000000;}
#xr_nb151 li:hover {border-color:#FFFFFF;}
#xr_nb151 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb151 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb46, .xr_bgc46 {background-color: #252525;}
#xr_nb155 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:20px;}
#xr_nb155 li:hover > a {background-color:#252525; color:#000000;}
#xr_nb155 li a {color:#5C5C5C; background-color:#252525; padding:15px; padding-right:33px;}
#xr_nb155 li > div {background-color:#252525; padding:15px;}
#xr_nb155 .xr_nb6 {background-color:#5C5C5C;}
#xr_nb155 li {border-color:#5C5C5C;}
#xr_nb155 li:hover {border-color:#000000;}
#xr_nb155 ul {border: solid 10px #252525; background-color:#252525;}
#xr_nb155 .xr_nb1 ul {margin-top:-10px;}
#xr_nb155 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb47, .xr_bgc47 {background-color: #252525;}
#xr_nb157 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb157 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb157 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb157 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb157 .xr_nb6 {background-color:#000000;}
#xr_nb157 li {border-color:#000000;}
#xr_nb157 li:hover {border-color:#FFFFFF;}
#xr_nb157 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb157 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb48, .xr_bgc48 {background-color: #252525;}
#xr_nb161 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb161 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb161 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb161 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb161 .xr_nb6 {background-color:#000000;}
#xr_nb161 li {border-color:#000000;}
#xr_nb161 li:hover {border-color:#FFFFFF;}
#xr_nb161 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb161 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb49, .xr_bgc49 {background-color: #252525;}
#xr_nb165 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:20px;}
#xr_nb165 li:hover > a {background-color:#252525; color:#000000;}
#xr_nb165 li a {color:#5C5C5C; background-color:#252525; padding:15px; padding-right:33px;}
#xr_nb165 li > div {background-color:#252525; padding:15px;}
#xr_nb165 .xr_nb6 {background-color:#5C5C5C;}
#xr_nb165 li {border-color:#5C5C5C;}
#xr_nb165 li:hover {border-color:#000000;}
#xr_nb165 ul {border: solid 10px #252525; background-color:#252525;}
#xr_nb165 .xr_nb1 ul {margin-top:-10px;}
#xr_nb165 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb50, .xr_bgc50 {background-color: #252525;}
#xr_nb167 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb167 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb167 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb167 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb167 .xr_nb6 {background-color:#000000;}
#xr_nb167 li {border-color:#000000;}
#xr_nb167 li:hover {border-color:#FFFFFF;}
#xr_nb167 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb167 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb51, .xr_bgc51 {background-color: #252525;}
#xr_nb171 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb171 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb171 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb171 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb171 .xr_nb6 {background-color:#000000;}
#xr_nb171 li {border-color:#000000;}
#xr_nb171 li:hover {border-color:#FFFFFF;}
#xr_nb171 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb171 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb52, .xr_bgc52 {background-color: #252525;}
#xr_nb175 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:20px;}
#xr_nb175 li:hover > a {background-color:#252525; color:#000000;}
#xr_nb175 li a {color:#5C5C5C; background-color:#252525; padding:15px; padding-right:33px;}
#xr_nb175 li > div {background-color:#252525; padding:15px;}
#xr_nb175 .xr_nb6 {background-color:#5C5C5C;}
#xr_nb175 li {border-color:#5C5C5C;}
#xr_nb175 li:hover {border-color:#000000;}
#xr_nb175 ul {border: solid 10px #252525; background-color:#252525;}
#xr_nb175 .xr_nb1 ul {margin-top:-10px;}
#xr_nb175 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb53, .xr_bgc53 {background-color: #252525;}
#xr_nb177 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb177 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb177 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb177 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb177 .xr_nb6 {background-color:#000000;}
#xr_nb177 li {border-color:#000000;}
#xr_nb177 li:hover {border-color:#FFFFFF;}
#xr_nb177 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb177 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb54, .xr_bgc54 {background-color: #252525;}
#xr_nb181 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb181 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb181 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb181 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb181 .xr_nb6 {background-color:#000000;}
#xr_nb181 li {border-color:#000000;}
#xr_nb181 li:hover {border-color:#FFFFFF;}
#xr_nb181 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb181 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb55, .xr_bgc55 {background-color: #252525;}
#xr_nb185 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:20px;}
#xr_nb185 li:hover > a {background-color:#252525; color:#000000;}
#xr_nb185 li a {color:#5C5C5C; background-color:#252525; padding:15px; padding-right:33px;}
#xr_nb185 li > div {background-color:#252525; padding:15px;}
#xr_nb185 .xr_nb6 {background-color:#5C5C5C;}
#xr_nb185 li {border-color:#5C5C5C;}
#xr_nb185 li:hover {border-color:#000000;}
#xr_nb185 ul {border: solid 10px #252525; background-color:#252525;}
#xr_nb185 .xr_nb1 ul {margin-top:-10px;}
#xr_nb185 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb56, .xr_bgc56 {background-color: #252525;}
#xr_nb187 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb187 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb187 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb187 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb187 .xr_nb6 {background-color:#000000;}
#xr_nb187 li {border-color:#000000;}
#xr_nb187 li:hover {border-color:#FFFFFF;}
#xr_nb187 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb187 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb57, .xr_bgc57 {background-color: #252525;}
#xr_nb191 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb191 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb191 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb191 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb191 .xr_nb6 {background-color:#000000;}
#xr_nb191 li {border-color:#000000;}
#xr_nb191 li:hover {border-color:#FFFFFF;}
#xr_nb191 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb191 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb58, .xr_bgc58 {background-color: #252525;}
#xr_nb195 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:20px;}
#xr_nb195 li:hover > a {background-color:#252525; color:#000000;}
#xr_nb195 li a {color:#5C5C5C; background-color:#252525; padding:15px; padding-right:33px;}
#xr_nb195 li > div {background-color:#252525; padding:15px;}
#xr_nb195 .xr_nb6 {background-color:#5C5C5C;}
#xr_nb195 li {border-color:#5C5C5C;}
#xr_nb195 li:hover {border-color:#000000;}
#xr_nb195 ul {border: solid 10px #252525; background-color:#252525;}
#xr_nb195 .xr_nb1 ul {margin-top:-10px;}
#xr_nb195 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb59, .xr_bgc59 {background-color: #252525;}
#xr_nb197 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb197 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb197 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb197 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb197 .xr_nb6 {background-color:#000000;}
#xr_nb197 li {border-color:#000000;}
#xr_nb197 li:hover {border-color:#FFFFFF;}
#xr_nb197 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb197 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb60, .xr_bgc60 {background-color: #252525;}
#xr_nb201 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb201 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb201 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb201 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb201 .xr_nb6 {background-color:#000000;}
#xr_nb201 li {border-color:#000000;}
#xr_nb201 li:hover {border-color:#FFFFFF;}
#xr_nb201 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb201 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb61, .xr_bgc61 {background-color: #252525;}
#xr_nb205 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:20px;}
#xr_nb205 li:hover > a {background-color:#252525; color:#000000;}
#xr_nb205 li a {color:#5C5C5C; background-color:#252525; padding:15px; padding-right:33px;}
#xr_nb205 li > div {background-color:#252525; padding:15px;}
#xr_nb205 .xr_nb6 {background-color:#5C5C5C;}
#xr_nb205 li {border-color:#5C5C5C;}
#xr_nb205 li:hover {border-color:#000000;}
#xr_nb205 ul {border: solid 10px #252525; background-color:#252525;}
#xr_nb205 .xr_nb1 ul {margin-top:-10px;}
#xr_nb205 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb62, .xr_bgc62 {background-color: #252525;}
#xr_nb207 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb207 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb207 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb207 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb207 .xr_nb6 {background-color:#000000;}
#xr_nb207 li {border-color:#000000;}
#xr_nb207 li:hover {border-color:#FFFFFF;}
#xr_nb207 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb207 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb63, .xr_bgc63 {background-color: #252525;}
#xr_nb211 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb211 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb211 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb211 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb211 .xr_nb6 {background-color:#000000;}
#xr_nb211 li {border-color:#000000;}
#xr_nb211 li:hover {border-color:#FFFFFF;}
#xr_nb211 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb211 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb64, .xr_bgc64 {background-color: #252525;}
#xr_nb215 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:20px;}
#xr_nb215 li:hover > a {background-color:#252525; color:#000000;}
#xr_nb215 li a {color:#5C5C5C; background-color:#252525; padding:15px; padding-right:33px;}
#xr_nb215 li > div {background-color:#252525; padding:15px;}
#xr_nb215 .xr_nb6 {background-color:#5C5C5C;}
#xr_nb215 li {border-color:#5C5C5C;}
#xr_nb215 li:hover {border-color:#000000;}
#xr_nb215 ul {border: solid 10px #252525; background-color:#252525;}
#xr_nb215 .xr_nb1 ul {margin-top:-10px;}
#xr_nb215 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb65, .xr_bgc65 {background-color: #252525;}
#xr_nb217 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb217 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb217 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb217 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb217 .xr_nb6 {background-color:#000000;}
#xr_nb217 li {border-color:#000000;}
#xr_nb217 li:hover {border-color:#FFFFFF;}
#xr_nb217 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb217 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb66, .xr_bgc66 {background-color: #252525;}
#xr_nb221 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb221 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb221 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb221 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb221 .xr_nb6 {background-color:#000000;}
#xr_nb221 li {border-color:#000000;}
#xr_nb221 li:hover {border-color:#FFFFFF;}
#xr_nb221 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb221 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb67, .xr_bgc67 {background-color: #252525;}
#xr_nb225 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:20px;}
#xr_nb225 li:hover > a {background-color:#252525; color:#000000;}
#xr_nb225 li a {color:#5C5C5C; background-color:#252525; padding:15px; padding-right:33px;}
#xr_nb225 li > div {background-color:#252525; padding:15px;}
#xr_nb225 .xr_nb6 {background-color:#5C5C5C;}
#xr_nb225 li {border-color:#5C5C5C;}
#xr_nb225 li:hover {border-color:#000000;}
#xr_nb225 ul {border: solid 10px #252525; background-color:#252525;}
#xr_nb225 .xr_nb1 ul {margin-top:-10px;}
#xr_nb225 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb68, .xr_bgc68 {background-color: #252525;}
#xr_nb227 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb227 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb227 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb227 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb227 .xr_nb6 {background-color:#000000;}
#xr_nb227 li {border-color:#000000;}
#xr_nb227 li:hover {border-color:#FFFFFF;}
#xr_nb227 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb227 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb69, .xr_bgc69 {background-color: #252525;}
#xr_nb231 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb231 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb231 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb231 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb231 .xr_nb6 {background-color:#000000;}
#xr_nb231 li {border-color:#000000;}
#xr_nb231 li:hover {border-color:#FFFFFF;}
#xr_nb231 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb231 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb70, .xr_bgc70 {background-color: #252525;}
#xr_nb235 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:20px;}
#xr_nb235 li:hover > a {background-color:#252525; color:#000000;}
#xr_nb235 li a {color:#5C5C5C; background-color:#252525; padding:15px; padding-right:33px;}
#xr_nb235 li > div {background-color:#252525; padding:15px;}
#xr_nb235 .xr_nb6 {background-color:#5C5C5C;}
#xr_nb235 li {border-color:#5C5C5C;}
#xr_nb235 li:hover {border-color:#000000;}
#xr_nb235 ul {border: solid 10px #252525; background-color:#252525;}
#xr_nb235 .xr_nb1 ul {margin-top:-10px;}
#xr_nb235 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb71, .xr_bgc71 {background-color: #252525;}
#xr_nb237 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb237 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb237 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb237 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb237 .xr_nb6 {background-color:#000000;}
#xr_nb237 li {border-color:#000000;}
#xr_nb237 li:hover {border-color:#FFFFFF;}
#xr_nb237 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb237 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb72, .xr_bgc72 {background-color: #252525;}
#xr_nb241 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb241 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb241 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb241 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb241 .xr_nb6 {background-color:#000000;}
#xr_nb241 li {border-color:#000000;}
#xr_nb241 li:hover {border-color:#FFFFFF;}
#xr_nb241 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb241 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb73, .xr_bgc73 {background-color: #252525;}
#xr_nb245 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:20px;}
#xr_nb245 li:hover > a {background-color:#252525; color:#000000;}
#xr_nb245 li a {color:#5C5C5C; background-color:#252525; padding:15px; padding-right:33px;}
#xr_nb245 li > div {background-color:#252525; padding:15px;}
#xr_nb245 .xr_nb6 {background-color:#5C5C5C;}
#xr_nb245 li {border-color:#5C5C5C;}
#xr_nb245 li:hover {border-color:#000000;}
#xr_nb245 ul {border: solid 10px #252525; background-color:#252525;}
#xr_nb245 .xr_nb1 ul {margin-top:-10px;}
#xr_nb245 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb74, .xr_bgc74 {background-color: #252525;}
#xr_nb247 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb247 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb247 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb247 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb247 .xr_nb6 {background-color:#000000;}
#xr_nb247 li {border-color:#000000;}
#xr_nb247 li:hover {border-color:#FFFFFF;}
#xr_nb247 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb247 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb75, .xr_bgc75 {background-color: #252525;}
#xr_nb251 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb251 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb251 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb251 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb251 .xr_nb6 {background-color:#000000;}
#xr_nb251 li {border-color:#000000;}
#xr_nb251 li:hover {border-color:#FFFFFF;}
#xr_nb251 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb251 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb76, .xr_bgc76 {background-color: #252525;}
#xr_nb255 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:20px;}
#xr_nb255 li:hover > a {background-color:#252525; color:#000000;}
#xr_nb255 li a {color:#5C5C5C; background-color:#252525; padding:15px; padding-right:33px;}
#xr_nb255 li > div {background-color:#252525; padding:15px;}
#xr_nb255 .xr_nb6 {background-color:#5C5C5C;}
#xr_nb255 li {border-color:#5C5C5C;}
#xr_nb255 li:hover {border-color:#000000;}
#xr_nb255 ul {border: solid 10px #252525; background-color:#252525;}
#xr_nb255 .xr_nb1 ul {margin-top:-10px;}
#xr_nb255 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb77, .xr_bgc77 {background-color: #252525;}
#xr_nb257 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb257 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb257 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb257 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb257 .xr_nb6 {background-color:#000000;}
#xr_nb257 li {border-color:#000000;}
#xr_nb257 li:hover {border-color:#FFFFFF;}
#xr_nb257 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb257 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb78, .xr_bgc78 {background-color: #252525;}
#xr_nb261 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb261 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb261 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb261 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb261 .xr_nb6 {background-color:#000000;}
#xr_nb261 li {border-color:#000000;}
#xr_nb261 li:hover {border-color:#FFFFFF;}
#xr_nb261 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb261 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb79, .xr_bgc79 {background-color: #252525;}
#xr_nb265 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:20px;}
#xr_nb265 li:hover > a {background-color:#252525; color:#000000;}
#xr_nb265 li a {color:#5C5C5C; background-color:#252525; padding:15px; padding-right:33px;}
#xr_nb265 li > div {background-color:#252525; padding:15px;}
#xr_nb265 .xr_nb6 {background-color:#5C5C5C;}
#xr_nb265 li {border-color:#5C5C5C;}
#xr_nb265 li:hover {border-color:#000000;}
#xr_nb265 ul {border: solid 10px #252525; background-color:#252525;}
#xr_nb265 .xr_nb1 ul {margin-top:-10px;}
#xr_nb265 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb80, .xr_bgc80 {background-color: #252525;}
#xr_nb267 {font-family:Trebuchet MS, Tahoma, sans-serif; font-size:18px;}
#xr_nb267 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb267 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb267 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb267 .xr_nb6 {background-color:#000000;}
#xr_nb267 li {border-color:#000000;}
#xr_nb267 li:hover {border-color:#FFFFFF;}
#xr_nb267 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb267 .xr_nb2 {transition: visibility 300ms;}
}
@media print {
 .xr_mvpo {display:none;}
}
